{% extends "layout.html" %}
{% block customcss %}
<style>
.form-fav {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 300px;
    padding: 20px 30px 30px;
    border-radius: 7px;
    background: #ffffff;
    -webkit-box-shadow: 0px 1px 10px 0.1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 10px 0.1px rgba(0, 0, 0, 0.1);
}
.container {
    margin: 0 auto;
    margin-top: 60px;
}
.alert {
    display: inline-block;
    margin: 0;
}
.radio {
    margin-top: 8px;
}
button {
    margin-top: 10px;
}
legend {
    font-size: 1.2em;
    text-transform: uppercase;
}
#alert-center {
    text-align: center;
}
</style>
{% endblock %}
{% block body %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div id="alert-center"><div class="alert alert-error"><i class="icon-warning-sign"></i> {{ message }}</div></div>
        {% endfor %}
    <form action="{{ url_for('fav') }}" method="POST" class="form-fav">
        <fieldset>
            <legend>Get server ping stats</legend>
        </fieldset>
        <input type="text" name="username" placeholder="Battlelog Username" class="input-xlarge" required>
        <input type="number" name="limit" min="1" placeholder="Max num of servers to ping (optional)" class="input-xlarge">
        <label class="radio">
            <input type="radio" name="serverType" value="0" checked> Favorites
        </label>
        <label class="radio">
            <input type="radio" name="serverType" value="1"> Recently played
        </label>
        <button type="submit" class="btn">Submit</button>
    </form>
    </div>
{% endblock %}