<!DOCTYPE html>
<html>
<head>
    <title>Battlefield 3 Server Ping Checker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <style>
        @import url(http://fonts.googleapis.com/css?family=Ubuntu);
        body {
            font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            background: url({{ url_for('static', filename='img/kindajean.png') }});
        }
    </style>
    {% block customcss %}{% endblock %}
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                    <div class="brand">Battlefield 3 Server Ping Checker</div>
            </div>
        </div>
    </div>
{% block body %}{% endblock %}
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>